<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhb.report.dao.MonthlyReportDao">

    <select id="findMonthlyDataList" resultType="com.xhb.report.dto.MonthlyReportDTO">
        SELECT
            b.owner_name AS ownerName,
            b.owner_mobile AS ownerMobile,
            c.lease_name AS leaseName,
            a.create_time AS createTime,
            d.rule_name AS ruleName,
            a.amount,
            a.start_date AS startDate,
            a.end_date AS endDate,
            a.lease_month_num AS rechargeMonth,
            a.give_month_mum AS giveMonthNum,
            a.give_day_num AS giveDayNum,
            a.from_type AS rechargeType,
            a.create_user AS collectorName,
            a.remark
            FROM t_pay_inside_contract a
            LEFT JOIN t_pay_inside_car b ON b.id = a.inside_id
            LEFT JOIN t_park_lease_type c ON c.id = b.lease_type_id
            LEFT JOIN t_park_monthly_rule d ON d.id = b.rule_id
            <where>
                <if test="parkId != null and parkId != ''">
                    a.park_id = #{parkId}
                </if>
                <if test="payTime != null and payTime != ''">
                    AND DATE_FORMAT(a.create_time,"%Y-%m") = #{payTime}
                </if>
                <if test="groupCode != null and groupCode != ''">
                    AND a.group_code = #{groupCode}
                </if>
                <if test="parkIds != null and parkIds != ''">
                    AND a.park_id IN (${parkIds})
                </if>
            </where>
            ORDER BY a.create_time DESC
    </select>

    <select id="findMonthlyAmount" resultType="com.xhb.report.vo.DailyReportVo">
        SELECT
            SUM(CASE WHEN a.from_type = 1 THEN a.amount ELSE 0 END) AS systemMonthly,
            SUM(CASE WHEN a.from_type = 2 THEN a.amount ELSE 0 END) AS publicMonthly,
            SUM(CASE WHEN a.from_type = 3 THEN a.amount ELSE 0 END) AS appMonthly
            FROM t_pay_inside_contract a
            <where>
                <if test="parkId != null and parkId != ''">
                    a.park_id = #{parkId}
                </if>
                <if test="payTime != null and payTime != ''">
                    AND DATE_FORMAT(a.create_time,"%Y-%m") = #{payTime}
                </if>
                <if test="groupCode != null and groupCode != ''">
                    AND a.group_code = #{groupCode}
                </if>
                <if test="parkIds != null and parkIds != ''">
                    AND a.park_id IN (${parkIds})
                </if>
            </where>
    </select>
</mapper>