/* CSS Document */
/*颜色部分*/
.c-m1
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6) ), color-stop(50%, rgba(255,255,255,0.2) ),color-stop(51%, rgba(255, 255, 255, 0) ), to(rgba(255, 255, 255, 0) )) !important;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%) !important;
	background-image: linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%) !important;
}
.c-m2
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)),to(rgba(255, 255, 255, 0))) !important;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,  rgba(255,255,255,0) 100%) !important;
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%) !important;
}
.c-m3
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4) ), color-stop(50%, rgba(255,255,255,0) ), to(rgba(255, 255, 255, 0.4) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 50%,  rgba(255,255,255,0.4) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 50%,  rgba(255,255,255,0.4) 100%);
}
.c-m4
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0) ), color-stop(50%, rgba(255,255,255,0.4) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,  rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,  rgba(255,255,255,0) 100%);
}
.c-m5
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4) ), color-stop(8%, rgba(255,255,255,0.2) ),color-stop(9%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 8%,rgba(255,255,255,0.1) 9%,  rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 8%,rgba(255,255,255,0.1) 9%,  rgba(255,255,255,0) 100%);
}

.c-m6
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.35) ), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,  rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.35) 0%,  rgba(0,0,0,0) 100%);
}
.c-m7
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), to(rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,  rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,  rgba(0,0,0,0.2) 100%);
}
.c-m8
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2) ), color-stop(50%, rgba(0,0,0,0)), to(rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(20,0,0,0) 50%,rgba(0,0,0,0.2) 100%);
}
.c-m9
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), color-stop(50%, rgba(0,0,0,0.2) ), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(20,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
}
.c-m10
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), color-stop(91%, rgba(0,0,0,0.1) ),color-stop(92%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 91%,rgba(0,0,0,0.2) 92%,rgba(0,0,0,.4) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(20,0,0,0.1) 91%,rgba(0,0,0,0.2) 92%,rgba(0,0,0,0.4) 100%);
}
.c-m11
{
	background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-webkit-background-size: 0.44em 100%;
	background-size: 0.44em 100%
}
.c-m12
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2) ), color-stop(49%, rgba(255,255,255,0.1) ),color-stop(50%, rgba(255, 255, 255, 0) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,   rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,   rgba(255,255,255,0) 100%);
}
.c-m13
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)),to(rgba(255, 255, 255, 0))) !important;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,  rgba(255,255,255,0) 100%) !important;
	background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%) !important;
}
.c-wh{background-color:#fff}
.c-bla{background-color:#000}
.c-gra{background-color:#666}
.c-333{background-color:#333}
.c-999{background-color:#999}
.c-red{background-color:red}
.c-blue{background-color:blue}
.c-1296db{background-color: #1296db}
.c-yellow{background-color:yellow}
.c-none{background:none;}
.t-wh{color:#fff;}
.t-bla{color:#000;}
.t-gra{color:#666;}
.t-333{color:#333;}
.t-999{color:#999;}
.t-aaa{color:#aaa;}
.t-bbb{color:#bbb;}
.t-red{color:red;}
.t-yellow{color:yellow;}
.t-blue{color:blue;}
.ub-wh
{
	background-image:linear-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%),linear-gradient(270deg, #ffffff, #ffffff 50%, transparent 50%),linear-gradient(0deg, #ffffff, #ffffff 50%, transparent 50%),linear-gradient(90deg, #ffffff, #ffffff 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top,  bottom, left top;
}
.ub-bla
{
	background-image:linear-gradient(180deg, #000000, #000000 50%, transparent 50%),linear-gradient(270deg, #000000, #000000 50%, transparent 50%),linear-gradient(0deg, #000000, #000000 50%, transparent 50%),linear-gradient(90deg, #000000, #000000 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top,  bottom, left top;
}
.ub-gra
{
	background-image:linear-gradient(180deg, #666666, #666666 50%, transparent 50%),linear-gradient(270deg, #666666, #666666 50%, transparent 50%),linear-gradient(0deg, #666666, #666666 50%, transparent 50%),linear-gradient(90deg, #666666, #666666 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top,  bottom, left top;
}
.ub-333
{
	background-image:linear-gradient(180deg, #333333, #333333 50%, transparent 50%),linear-gradient(270deg, #333333, #333333 50%, transparent 50%),linear-gradient(0deg, #333333, #333333 50%, transparent 50%),linear-gradient(90deg, #333333, #333333 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top,  bottom, left top;
}
.ub-999
{
	background-image:linear-gradient(180deg, #999999, #999999 50%, transparent 50%),linear-gradient(270deg, #999999, #999999 50%, transparent 50%),linear-gradient(0deg, #999999, #999999 50%, transparent 50%),linear-gradient(90deg, #999999, #999999 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: top, right top,  bottom, left top;
}

